<!DOCTYPE html>
<html ng-app>
<head>
    <title >Welcome to bobs Website</title>
</head>
<body>
    
   <ul>
       <li>@Html.ActionLink("Home", "Index", "Home")</li>
       <li>@Html.ActionLink("Portfolio Menu", "PortMain", "Home")</li>
       <li>@Html.ActionLink("Music", "Index", "Music")</li>

       <li>@Html.ActionLink("Weather", "Index", "Weather")</li>

   </ul>


</body>
</html>