@model Portfolio.Models.Portfolio.PortfolioSummary

<meta name="viewport" content="width=device-width" />

     <title>Index</title>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")

<script type="text/javascript">
        timer = setInterval(function () {
            $('#Folios').load('@Url.Action("Refresh","Portfolio")');
        }, 15000);

    $('.delta').each(function (index) { //iterate over all table rows
        if ($(this).text() > 0)  //look for the 3rd td in each row. thats where your age is.
        {
            $(this).css("color", "green");
        }
        else if ($(this).text() < 0) {
            $(this).css("color", "red");
        }
    });
</script>
<div id="Folios">
     @Html.Partial("Portfolios", Model)
</div>









